{
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd-mobile",
        "style": "css"
      }
    ],
    "@babel/plugin-transform-runtime"
  ],
  "presets": ["@babel/preset-react"]
}
